/*Desktops*/
@media (min-width: 1440px){

.main{
    max-width: 70%;
    align-self: center;

.capas{
    max-width: 30%;
    max-height: 30%;
}
}


}

/*Tablets*/
@media (min-width: 1024px){

.main{
    font-size: 140%;
}

.capas{
    max-width: 50%;
    max-height: 50%;
}    

}

/* Phones
@media (max-width: 600px){



} 
*/

.capas{
    max-width: 70%;
    max-height: 70%;
}

header{
    text-align: left;
    background-color: #1C4248;
    color:#B6EAF2;
    font-size: 75%;
    margin: -10px;
    padding: 1%;
    border: 0px;
}

body{
    background-color: #71979D;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main{
    background-color: #B6EAF2;
    color:#1C4248;
    text-align: center;
    margin-top: 1%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    min-height: 100%;
    max-height: 100%;
    margin: auto;
}

#footer{
    background-color:#1C4248;
}

li{
    text-align: left;
    font-size: 125%;
}