
header{
    text-align: center;
    background-color: #71979D;
    font-size: 70%;
    margin: -10px;
    padding: 1%;
    border: 0px;
}

body{
    background-color: #B6EBF3;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
