body{
    background-image: url('../Mídia/Imagens/background.jpg');
    text-align: center;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    display: inline;
    margin-right: 15px;
    color:#ffd0ec;
    padding: 15px;
}

ul {
    background-color:#be4a8c;
    margin: -10px;
    padding: 20px;
    border: 0px;
}
a:link {
    color: #3e83d2;
}

a:visited{
    color:#995dc1;
}

div{
    background-color: #ffd0ec;
    color: #be4a8c;
    color
    max-width: 75%;
    margin: auto;
    max-height: 100%;
}
Header{
    
}
